@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Category>;

<h1>Categories</h1>
@if (Model.Count == 0)
{
  <h3>No categories created</h3>
}
@foreach (Category category in Model)
{
    <li>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</li>
}

<button class="btn btn-dark">@Html.ActionLink("Add new category", "Create")</button>
<button class="btn btn-dark">@Html.ActionLink("Home", "Index", "Home")</button>
<button class="btn btn-dark">@Html.ActionLink("All items", "Index", "Items")</button>